<section class="vh-100" style="background-color: #f0eaec;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://s3.amazonaws.com/cms.ipressroom.com/175/files/20213/6087375ab3aed35eac01a3cb_Canvas+logo/Canvas+logo_5566b629-3876-4acf-b880-ea0d76334eff-prv.jpg"
                  width = 450 height = 300 class="img-fluid" style="text-align: left;"/>
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form #userLogin="ngForm" (ngSubmit)="loginUser($event)">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #0b0a0a;"></i>
                      <span class="h1 fw-bold mb-0">Canvas Login</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your Canvas account</h5>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">CWL username</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <input type="submit" class="btn btn-dark btn-lg btn-block" value="Login">
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have a CWL account? 
                      <a routerLink="/register" class="button"
                        style="color: #393f81;">Register here</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
<router-outlet>
</router-outlet>



